In [11]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder()
ans = enc.fit_transform([['a', 0, 3],
         ['b', 1, 0],
         ['c', 2, 1],
         ['d', 0, 2]]).toarray()
 # 如果不加 toarray() 的话，输出的是稀疏的存储格式，即索引加值的形式，也可以通过参数指定 sparse = False 来达到同样的效果
print(ans)

[[1. 0. 0. 0. 1. 0. 0. 0. 0. 0. 1.]
 [0. 1. 0. 0. 0. 1. 0. 1. 0. 0. 0.]
 [0. 0. 1. 0. 0. 0. 1. 0. 1. 0. 0.]
 [0. 0. 0. 1. 1. 0. 0. 0. 0. 1. 0.]]

In [13]:
import pandas as pd
ans = pd.DataFrame(ans)
ans

    0    1    2    3    4    5    6    7    8    9    10
0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0
1  0.0  1.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0
2  0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  0.0
3  0.0  0.0  0.0  1.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0